.complete {
  height: 100%;
  position: relative;
  background-color: #fbc3bc;
  // background: url("/assets/images/banner.png") no-repeat center center;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.complete .container {
  height: 100%;
}

.icon-bg {
  height: 40px;
  width: 40px;
  padding: 8px;
  color: white;
  background-color: #fbc3bc;
  border-radius: 30px;
}

.whatsapp-btn {
  height: 28px;
  width: 77px;
  box-sizing: border-box;
  padding: 2px 8px 1px 8px;
  background-color: #25d366;
  color: #fff;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 480px) {
  .complete {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
}