<div style="padding: 16px;">
    <div class="row mb-1">
        <h3 class="col-6 d-flex justify-content-start">
            {{'order_box.review_summary_title' | translate}}
        </h3>
        <h6 class="col-6 pt-1 d-flex justify-content-end">
            {{data.order.boxName}}
        </h6>
    </div>
    <div class="row">
        <p class="col-6 d-flex justify-content-start">
            {{'order_box.review_summary_product_quantity' | translate}}
        </p>
        <p class="col-6 d-flex justify-content-end">
            {{data.order.productQuantity}}
        </p>
    </div>
    <!-- Pads -->
    <div class="row">
        <p *ngIf="data.order.products?.pads" class="col-12 d-flex justify-content-start">
            {{'order_box.review_summary_pads_header' | translate}}
        </p>
    </div>
    <div class="row" *ngFor=" let product of data.order.products?.pads; let i = index">
        <p class="col-10 d-flex justify-content-start">
            {{product.brand}} - {{product.name}}
        </p>
        <p class="col-2 d-flex justify-content-end">{{product.amount}}</p>
    </div>
    <!-- Extra pads -->
    <div class="row">
        <p *ngIf="data.order.products?.extraProducts?.pads" class="col-12 d-flex justify-content-start">
            Extra {{'order_box.review_summary_pads_header' | translate}}
        </p>
    </div>
    <div class="row" *ngFor=" let product of data.order.products?.extraProducts?.pads; let i = index">
        <p class="col-10 d-flex justify-content-start">
            {{product.brand}} - {{product.name}}
        </p>
        <p class="col-2 d-flex justify-content-end">{{product.amount}}</p>
    </div>
    <!-- Tampons -->
    <div class="row">
        <p *ngIf="data.order.products?.tampons" class="col-12 d-flex justify-content-start">
            {{'order_box.review_summary_tampon_header' | translate}}
        </p>
    </div>
    <div class="row" *ngFor=" let product of data.order.products?.tampons; let i = index">
        <p class="col-10 d-flex justify-content-start">
            {{product.brand}} - {{product.name}}
        </p>
        <p class="col-2 d-flex justify-content-end">{{product.amount}}</p>
    </div>
    <!-- Extra tampons -->
    <div class="row">
        <p *ngIf="data.order.products?.extraProducts?.tampons" class="col-12 d-flex justify-content-start">
            Extra {{'order_box.review_summary_tampon_header' | translate}}
        </p>
    </div>
    <div class="row" *ngFor=" let product of data.order.products?.extraProducts?.tampons; let i = index">
        <p class="col-10 d-flex justify-content-start">
            {{product.brand}} - {{product.name}}
        </p>
        <p class="col-2 d-flex justify-content-end">{{product.amount}}</p>
    </div>
    <!-- Liners -->
    <div class="row">
        <p *ngIf="data.order.products?.liners" class="col-12 d-flex justify-content-start">
            {{'order_box.review_summary_liners_header' | translate}}
        </p>
    </div>
    <div class="row" *ngFor=" let product of data.order.products?.liners; let i = index">
        <p class="col-10 d-flex justify-content-start">
            {{product.brand}} - {{product.name}}
        </p>
        <p class="col-2 d-flex justify-content-end">{{product.amount}}</p>
    </div>
    <!-- Extra Liners -->
    <div class="row">
        <p *ngIf="data.order.products?.extraProducts?.liners" class="col-12 d-flex justify-content-start">
            Extra {{'order_box.review_summary_liners_header' | translate}}
        </p>
    </div>
    <div class="row" *ngFor=" let product of data.order.products?.extraProducts?.liners; let i = index">
        <p class="col-10 d-flex justify-content-start">
            {{product.brand}} - {{product.name}}
        </p>
        <p class="col-2 d-flex justify-content-end">{{product.amount}}</p>
    </div>
    <!-- Preferences -->
    <div class="row">
        <p *ngIf="data.order.products?.preferences" class="col-12 d-flex justify-content-start">
            {{'order_box.personalise_preference_header' | translate}}:
        </p>
    </div>
    <div class="row" *ngIf="data.order.products?.preferences">
        <p class="col-4 d-flex justify-content-start" *ngIf="data.order?.products.preferences.chocolate[0] != 'none'">
            {{'order_box.personalise_preference_chocolate' | translate}}
        </p>
        <div class="col-8" *ngIf="data.order?.products.preferences.chocolate[0] != 'none'">
            <div class="d-flex justify-content-end"
                *ngFor="let item of data.order?.products.preferences.chocolate; let i = index">
                <p *ngIf="item == 'no_pref'" style="text-align:right;">
                    {{'order_box.personalise_preference_no_preference' | translate}}
                </p>
                <p *ngIf="item.name" style="text-align:right;">{{item.name}}</p>
            </div>
        </div>
        <p class="col-4 d-flex justify-content-start" *ngIf="data.order?.products.preferences.healthbar[0] != 'none'">
            {{'order_box.personalise_preference_healthbar' | translate}}
        </p>
        <div class="col-8" *ngIf="data.order?.products.preferences.healthbar[0] != 'none'">
            <div class="d-flex justify-content-end"
                *ngFor="let item of data.order?.products.preferences.healthbar; let i = index">
                <p *ngIf="item == 'no_pref'" style="text-align:right;">
                    {{'order_box.personalise_preference_no_preference' | translate}}
                </p>
                <p *ngIf="item.name" style="text-align:right;">{{item.name}}</p>
            </div>
        </div>
        <p class="col-4 d-flex justify-content-start" *ngIf="data.order?.products.preferences.granola[0] != 'none'">
            {{'order_box.personalise_preference_granola' | translate}}
        </p>
        <div class="col-8" *ngIf="data.order?.products.preferences.granola[0] != 'none'">
            <div class="d-flex justify-content-end"
                *ngFor="let item of data.order?.products.preferences.granola; let i = index">
                <p *ngIf="item == 'no_pref'" style="text-align:right;">
                    {{'order_box.personalise_preference_no_preference' | translate}}
                </p>
                <p *ngIf="item.name" style="text-align:right;">{{item.name}}</p>
            </div>
        </div>
        <p class="col-4 d-flex justify-content-start">{{'order_box.personalise_preference_skin' | translate}}</p>
        <div class="col-8">
            <div class="d-flex justify-content-end">
                <p *ngIf="data.order.products?.preferences.skinType == 'normal'">
                    {{'products.skin_type_normal' | translate}}
                </p>
                <p *ngIf="data.order.products?.preferences.skinType == 'mixed'">
                    {{'products.skin_type_mixed' | translate}}
                </p>
                <p *ngIf="data.order.products?.preferences.skinType == 'dry'">
                    {{'products.skin_type_dry' | translate}}
                </p>
                <p *ngIf="data.order.products?.preferences.skinType == 'oil'">
                    {{'products.skin_type_oil' | translate}}
                </p>
                <p *ngIf="data.order.products?.preferences.skinType == 'no_pref'">
                    {{'order_box.personalise_preference_no_preference' | translate}}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="col-6 d-flex justify-content-start">
            {{'order_box.review_summary_delivery_date' | translate}}
        </p>
        <p class="col-6 d-flex justify-content-end">
            <span *ngIf="data.order.startDeliveryDate">
                {{data.order.startDeliveryDate | date:'dd-MM-yyyy'}}
            </span>
            <span *ngIf="!data.order.startDeliveryDate">
                ----
            </span>
        </p>
        <p class="col-6 d-flex justify-content-start" *ngIf="!data.freeBoxClaimed">
            {{'order_box.review_summary_days_apart' | translate}}
        </p>
        <p class="col-6 d-flex justify-content-end" *ngIf="!data.freeBoxClaimed">
            <span *ngIf="!data.cycleWeeks && data.order.deliveryDaysApart>0">
                {{data.order.deliveryDaysApart}} {{'order_box.delivery_days_apart_select' | translate}}
            </span>
            <span *ngIf="data.cycleWeeks">
                {{data.cycleWeeks}} {{'order_box.delivery_weeks_apart_select' | translate}}
            </span>
            <span *ngIf="data.order.deliveryDaysApart==0">
                ----
            </span>
        </p>
        <!-- <p class="col-6 d-flex justify-content-start" *ngIf="!data.freeBoxClaimed">
            {{'order_box.review_summary_payment_plan' | translate}}
        </p>
        <p class="col-6 d-flex justify-content-end" *ngIf="!data.freeBoxClaimed">
            <span *ngIf="data.order.paymentPlan == 1">
                {{'order_box.review_summary_payment_plan_monthly' | translate}}
            </span>
            <span *ngIf="data.order.paymentPlan > 1">{{data.order.paymentPlan}}
                {{'order_box.review_summary_payment_plan_month' | translate}}
            </span>
            <span *ngIf="data.order.paymentPlan == 0">----</span>
        </p> -->
    </div>
</div>