<!-- Personalise -->
<section class="about text-center">
    <!-- <div class="overlay"></div> -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="m-0 brand-white">{{'how_it_works.personalised_header' | translate}}</h1>
                <h4 class="mb-4 brand-white">{{'how_it_works.personalised_sub' | translate}}</h4>
                <p class="lead mb-2 brand-white">
                    {{'how_it_works.personalised_text' | translate}}
                </p>
                <button class="button-black" type="order" routerLink="/order-box">{{'how_it_works.personalised_button' | translate}}</button>
            </div>
        </div>
    </div>
</section>

<!-- How it works steps -->
<section class="showcase container">
    <h1 class="mt-4 mb-4 text-center">{{'how_it_works.title' | translate}}</h1>
    <div class="row no-gutters">
        <div class="col-sm-8 order-1 my-auto showcase-text">
            <h3 class="mb-0 step-label">{{'how_it_works.step' | translate}} 1</h3>
            <h3>{{'how_it_works.step_1_header' | translate}}</h3>
            <p>{{'how_it_works.step_1_text' | translate}}</p>
        </div>
        <div class="col-sm-4 order-2 text-white showcase-img"
            style="background-image: url('assets/images/how-it-works/step-1.webp'), url('assets/images/how-it-works/step-1.png');">
        </div>
        <div class="col-12 order-3 d-flex justify-content-center">
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-sm-8 order-sm-2 my-auto showcase-text">
            <h3 class="mb-0 step-label">{{'how_it_works.step' | translate}} 2</h3>
            <h3>{{'how_it_works.step_2_header' | translate}}</h3>
            <p>{{'how_it_works.step_2_text' | translate}}</p>
        </div>
        <div class="col-sm-4 order-sm-1 text-white showcase-img"
            style="background-image: url('assets/images/how-it-works/step-2.webp'), url('assets/images/how-it-works/step-2.png');">
        </div>
        <div class="col-12 order-3 d-flex justify-content-center">
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-sm-7 order-sm-1 my-auto showcase-text">
            <h3 class="mb-0 step-label">{{'how_it_works.step' | translate}} 3</h3>
            <h3>{{'how_it_works.step_3_header' | translate}}</h3>
            <p>{{'how_it_works.step_3_text' | translate}}</p>
        </div>
        <div class="col-sm-5 order-sm-1 my-auto d-flex justify-content-center">
            <ul class="list-inline">
                <li class="list-inline-item mr-3">
                    <img src="/assets/icons/payment-options/ideal.svg" height="40px" alt="iDeal">
                </li>
                <li class="list-inline-item mr-3">
                    <img src="/assets/icons/payment-options/bancontact.svg" height="40px" alt="Bancontact">
                </li>
                <li class="list-inline-item mr-3">
                    <img src="/assets/icons/payment-options/mastercard.svg" height="40px" alt="Mastercard">
                </li>
                <li class="list-inline-item mr-3">
                    <img src="/assets/icons/payment-options/visa.svg" height="40px" alt="Visa">
                </li>
                <li class="list-inline-item">
                    <img src="/assets/icons/payment-options/applepay.svg" height="40px" alt="ApplePay">
                </li>
            </ul>
        </div>
        <div class="col-12 order-3 d-flex justify-content-center">
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-sm-6 order-sm-2 my-auto showcase-text">
            <h3 class="mb-0 step-label">{{'how_it_works.step' | translate}} 4</h3>
            <h3>{{'how_it_works.step_4_header' | translate}}</h3>
            <p>{{'how_it_works.step_4_text' | translate}}</p>
        </div>
        <div class="col-sm-6 order-sm-1 text-white showcase-img"
            style="background-image: url('assets/images/how-it-works/step-4.webp'), url('assets/images/how-it-works/step-4.png');">
        </div>
        <div class="col-12 order-3 d-flex justify-content-center">
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-6 order-1 my-auto showcase-text">
            <h3 class="mb-0 step-label">{{'how_it_works.step' | translate}} 5</h3>
            <h3>{{'how_it_works.step_5_header' | translate}}</h3>
            <p>{{'how_it_works.step_5_text' | translate}}</p>
            <!-- <button class="mt-2" type="order" routerLink="/order-box">{{'how_it_works.step_5_button' | translate}}</button> -->
        </div>
        <div class="col-lg-6 order-2 text-white showcase-img"
            style="background-image: url('assets/images/how-it-works/step-5.webp'), url('assets/images/how-it-works/step-5.png');">
        </div>
    </div>
    <div class="row pb-4 d-flex justify-content-center text-center">
        <div class="col-12">
            <h3>{{'how_it_works.clear_header' | translate}}</h3>
        </div>
        <div class="col-12">
            <button class="button-black" routerLink="/order-box">{{'how_it_works.personalised_button' | translate}}</button>
            <button class="button-no-border" routerLink="/faq">{{'how_it_works.faq_button' | translate}}</button>
        </div>
    </div>
</section>