small {
  font-size: smaller;
}

footer.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.link {
  color: #F8BEB8;
}

.link:hover {
  color: #f78274;
  text-decoration: underline;
  cursor: pointer;
}