<div class="img"></div>
<div class="container" style="padding-top: 2rem">
    <div class="d-flex justify-content-center">
        <div class="row" style="max-width: 350px;">
            <div class="col-12 mb-4 text-center">
                <button class="box-selector full-width" routerLink="/order-box">
                    <span>{{'linktree.order_box' | translate}}</span>
                </button>
            </div>
            <div class="col-12 mb-4 text-center">
                <button class="button" routerLink="/about">
                    <span>{{'linktree.about' | translate}}</span>
                </button>
            </div>
            <div class="col-12 mb-4 text-center">
                <button class="button" routerLink="/products">
                    <span>{{'linktree.products' | translate}}</span>
                </button>
            </div>
            <div class="col-12 mb-4 text-center">
                <button class="button" routerLink="/invite">
                    <span>{{'linktree.invite' | translate}}</span>
                </button>
            </div>
            <div class="col-12 mb-4 text-center">
                <button class="button" routerLink="/account/points">
                    <span>{{'linktree.points' | translate}}</span>
                </button>
            </div>
        </div>
    </div>
</div>