<div class="faq">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="brand-white">DeMonth FAQ</h1>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <h2 class="pl-1">{{'faq.general_title' | translate}}</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.general_what_is_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.general_what_is_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.general_process_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.general_process_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.general_durable_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.general_durable_a' | translate"></p>
        </mat-expansion-panel>
    </mat-accordion>
    <h2 class="pl-1 mt-4">{{'faq.box_title' | translate}}</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.box_inside_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.box_inside_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.box_extras_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.box_extras_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.box_brand_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.box_brand_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.box_other_brand_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.box_other_brand_a' | translate"></p>
        </mat-expansion-panel>
        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'faq.box_color_q' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.box_color_a' | translate"></p>
        </mat-expansion-panel> -->
    </mat-accordion>
    <h2 class="pl-1 mt-4">{{'faq.payment_title' | translate}}</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.payment_methods_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.payment_methods_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.payment_coupon_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.payment_coupon_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.payment_failed_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.payment_failed_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.payment_open_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.payment_open_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.payment_recurring_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.payment_recurring_a' | translate"></p>
        </mat-expansion-panel>
    </mat-accordion>
    <h2 class="pl-1 mt-4">{{'faq.shipping_title' | translate}}</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.shipping_shipping_costs_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.shipping_shipping_costs_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.shipping_shipping_time_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.shipping_shipping_time_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.shipping_deliverer_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.shipping_deliverer_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.shipping_stay_home_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.shipping_stay_home_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.shipping_shipping_foreign_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.shipping_shipping_foreign_a' | translate"></p>
        </mat-expansion-panel>
    </mat-accordion>
    <h2 class="pl-1 mt-4">{{'faq.subscription_title' | translate}}</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.subscription_change_products_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.subscription_change_products_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.subscription_change_cyclus_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.subscription_change_cyclus_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.subscription_pause_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.subscription_pause_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.subscription_personal_details_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.subscription_personal_details_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.subscription_cancel_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.subscription_cancel_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.subscription_unable_cancel_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.subscription_unable_cancel_a' | translate"></p>
        </mat-expansion-panel>
    </mat-accordion>
    <h2 class="pl-1 mt-4">{{'faq.other_title' | translate}}</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.general_login_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.general_login_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.other_partnership_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.other_partnership_a' | translate"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>{{'faq.other_answer_not_found_q' | translate}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'faq.other_answer_not_found_a' | translate"></p>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="mb-4"></div>
</div>